<div class="app-auth">
  <div class="login-bg"></div>
  <div class="login-page">
    <header class="login-page__header">
      <div class="container">
        <div class="login-page__header__logo">
          <img src="../../../assets/img/ScopalLogo.png" alt="logo-header">
        </div>
      </div>
    </header>
    <div class="login-page__content">
      <div class="container">
        <!-- <div class="row"> -->
        <!-- <div class="col-lg-7">
          <div class="register-page__content__image">
            <img class="w-100" src="./assets/img/SignIn.png" alt="banner-login">
          </div>
        </div>
        <div class="col-lg-5"> -->
        <!-- </div> -->
        <!-- </div>  -->
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</div>