.user-avatar {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 0 2px 0px #5d5d5d;
    cursor: pointer;
    margin: 5px 10px 5px 0;
    position: relative;
    display: inline-block;
    @media (min-width: 992px) {
        font-size: 22px;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked {
            &~.checkmark {
                &:after {
                    display: block;
                    left: 8px;
                    top: 5.8px;
                    width: 5px;
                    height: 9px;
                    border: solid white;
                    border-width: 0px 2px 2px 0px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}


.checkmark {
    border-radius: 50%;
    background: #4CD58A;
    box-sizing: border-box;
    top: -3px;
    right: -3px;
    height: 21px;
    width: 21px;
    position: absolute;
    border-radius: 50%;
    &:after {
        content: "";
        position: absolute;
        display: none;
        
    }
}

.modal-body {
    .user-drag {
        margin-bottom: 20px;
        max-height: 255px;
        overflow-y: auto;
        padding: 15px 11px 15px 15px;
        &::-webkit-scrollbar {
            width: 6px;
            background-color: #e4e4e4;
          }
          &::-webkit-scrollbar-track {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
          }
    
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #bcb0b0;
          }
    }
    .modal-title {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 5px;
    }
}
